---
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="NoEntity - Yuuyaのホームページ">
    <meta property="og:description" content="NoEntityの紹介・配布ページです。">
    <meta property="og:url" content="https://yuuyagithub.github.io">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>NoEntity - Yuuyaのホームページ</title>
  </head>
<body>
  {% include header.html %}
<h1>NoEntity</h1>
<p>このデータパックを導入すると、エンティティが機能しなくなります(正確にはkillし続けているだけです)。<br>
また、初期のInfdevのように自分が透明になります。</p>
<h2 id="video">動画</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/XCxk2FgKsqA?si=0oNb0M7d4hZ_vdTu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h2 id="download">ダウンロード</h2>
<a title="データパック本体">「NoEntity」データパック</a><br>
<p>※ダウンロードは利用できません。</p>
<hr>
<center><a href="/minecraft" title="マイクラに戻る">マイクラに戻る</a></center>
</body>
{% include footer.html %}
</html>
